parameters:
    paths:
        - src
    level: max
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/var/*
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
        - vendor/autoload.php
